body {
  background-color: #cdb4db;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 80%;
  height: 20px solid #fff;
  font-family: source sans pro, sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
.blog {
  margin-bottom: 20px;
}
.Date {
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: 600;
  font-weight: 700;
}
.image, figcaption {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.paragraph {
  border-left: 5px solid #2370a5;
  padding-left: 5px;
}
h2 {
  font-size: 2rem;
  color: #fff;
}
p,
figcaption {
  color: #fff;
  font-weight: 600;
}

