{% extends "layout.html" %}
{% block body %}

   <main id="main">
      <!-- ======= Whats Your Car ======= -->
      <section id="findcar" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header" find>
            <p>Find your car!</p>
            <br />
            <h2>Tell your requirements, we will find the best choice</h2>
          </header>
          <!-- issue: required is not workign -->
          <form
            name="sentMessage"
            action="/"
            method="post"
            novalidate
            autocomplete="off"
          >
            <div class="row">
              <div class="col-lg-6">
                <img
                  src="{{ url_for('static', filename='assets/img/car.jpg')}}"
                  class="img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
                  <div
                    class="col-md-7"
                    data-aos="zoom-out"
                    data-aos-delay="200"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <input
                        type="text"
                        class="form-control no-border"
                        id="cost_min"
                        placeholder="Cost Min"
                        name="cost_min"
                        required
                      />
                      <input
                        type="text"
                        class="form-control no-border"
                        id="cost_max"
                        placeholder="Cost Max"
                        name="cost_max"
                        required = "required"
                      />
                    </div>
                  </div>

                  <div
                    class="col-md-5"
                    data-aos="zoom-out"
                    data-aos-delay="300"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <input
                        required
                        type="text"
                        class="form-control no-border"
                        id="brand"
                        placeholder="Brand"
                        name="brand"
                      />
                    </div>
                  </div>

                  <div
                    class="col-md-7"
                    data-aos="zoom-out"
                    data-aos-delay="300"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <input
                        type="text"
                        class="form-control no-border"
                        id="mileage_min"
                        placeholder="Mileage Min"
                        name="mileage_min"
                        required
                      />
                      <input
                        type="text"
                        class="form-control no-border"
                        id="mileage_max"
                        placeholder="Max"
                        name="mileage_max"
                        required
                      />
                    
                    </div>
                  </div>

                  <div
                    class="col-md-5"
                    data-aos="zoom-out"
                    data-aos-delay="300"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <select
                        class="form-select no-border"
                        aria-label="Default select example"
                        name = "type"
                        id="type"
                      >
                        <option selected>Petol/CNG/Diesel</option>
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                        <option value="CNG">CNG</option>
                      </select>
                      
                    </div>
                  </div>

                  <div
                    class="col-md-7"
                    data-aos="zoom-out"
                    data-aos-delay="300"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <select
                        class="form-select no-border"
                        aria-label="Default select example"
                        name = "Seating_Cap"
                        id="Seating_Cap"
                      >
                      <option selected>Seating</option>
                      <option value=2 >2</option>
                      <option value=4 >4</option>
                      <option value=5 >5</option>
                      <option value=6 >6</option>
                      <option value=7 >7</option>
                      <option value=8 >8</option>
                      <option value=9 >9</option>
                      <option value=16>16</option>
                        
                      </select>

                    </div>
                  </div>

                  <div
                    class="col-md-5"
                    data-aos="zoom-out"
                    data-aos-delay="700"
                  >
                    <div class="feature-box d-flex align-items-center">
                      <button type="submit" class="btn btn-outline-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- / row -->

          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>
              Top 5 Cars of 22
              </h3>

              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1"
                    >Scorpio</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2"
                    >Thar</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3"
                    >XUV </a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab4"
                    >Creta</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab5"
                    >Fortuner</a
                  >
                </li>
              </ul>
              <!-- End Tabs -->

              <!-- Tab Content -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                  <p>
                    Consequuntur inventore voluptates consequatur aut vel et.
                    Eos doloribus expedita. Sapiente atque consequatur minima
                    nihil quae aspernatur quo suscipit voluptatem.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Repudiandae rerum velit modi et officia quasi facilis
                    </h4>
                  </div>
                  <p>
                    Laborum omnis voluptates voluptas qui sit aliquam
                    blanditiis. Sapiente minima commodi dolorum non eveniet
                    magni quaerat nemo et.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                  </div>
                  <p>
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                  </p>
                </div>
                <!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">
                  <p>
                    Consequuntur inventore voluptates consequatur aut vel et.
                    Eos doloribus expedita. Sapiente atque consequatur minima
                    nihil quae aspernatur quo suscipit voluptatem.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Repudiandae rerum velit modi et officia quasi facilis
                    </h4>
                  </div>
                  <p>
                    Laborum omnis voluptates voluptas qui sit aliquam
                    blanditiis. Sapiente minima commodi dolorum non eveniet
                    magni quaerat nemo et.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                  </div>
                  <p>
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                  </p>
                </div>
                <!-- End Tab 2 Content -->

                <div class="tab-pane fade show" id="tab3">
                  <p>
                    Consequuntur inventore voluptates consequatur aut vel et.
                    Eos doloribus expedita. Sapiente atque consequatur minima
                    nihil quae aspernatur quo suscipit voluptatem.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Repudiandae rerum velit modi et officia quasi facilis
                    </h4>
                  </div>
                  <p>
                    Laborum omnis voluptates voluptas qui sit aliquam
                    blanditiis. Sapiente minima commodi dolorum non eveniet
                    magni quaerat nemo et.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                  </div>
                  <p>
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                  </p>
                </div>
                <!-- End Tab 3 Content -->
                <div class="tab-pane fade show" id="tab4">
                  <p>
                    tab 4 content Eos doloribus expedita. Sapiente atque
                    consequatur minima nihil quae aspernatur quo suscipit
                    voluptatem.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Repudiandae rerum velit modi et officia quasi facilis
                    </h4>
                  </div>
                  <p>
                    tab 4 content blanditiis. Sapiente minima commodi dolorum
                    non eveniet magni quaerat nemo et.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                  </div>
                  <p>
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                  </p>
                </div>
                <!-- End Tab 4 Content -->
                <div class="tab-pane fade show" id="tab5">
                  <p>
                    Consequuntur inventore voluptates consequatur aut vel et.
                    Eos doloribus expedita. Sapiente atque consequatur minima
                    nihil quae aspernatur quo suscipit voluptatem.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Repudiandae rerum velit modi et officia quasi facilis
                    </h4>
                  </div>
                  <p>
                    Laborum omnis voluptates voluptas qui sit aliquam
                    blanditiis. Sapiente minima commodi dolorum non eveniet
                    magni quaerat nemo et.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                  </div>
                  <p>
                    Non quod totam minus repellendus autem sint velit. Rerum
                    debitis facere soluta tenetur. Iure molestiae assumenda sunt
                    qui inventore eligendi voluptates nisi at. Dolorem quo
                    tempora. Quia et perferendis.
                  </p>
                </div>
                <!-- End Tab 5 Content -->
              </div>
            </div>
            <div class="col-lg-6">
              <!-- issue: remove background of this photo to load faster -->
              <img
                src="{{ url_for('static', filename='assets/img/Car2.jpg')}}"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
          <!-- End Feature Tabs -->
        </div>
      </section>
      <!-- End Whats Your Car Section -->

      {% endblock %}