{% extends "layout.html" %} {% block body %}

<main id="main">
  <!-- ======= Whats Your Car ======= -->
  <section id="findcar" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header" find>
        <p>Find your car!</p>
        <br />
        <h2>Tell your requirements, we will find the best choice</h2>
      </header>
      <!-- form for inputting values -->
      <form
        name="sentMessage"
        action="/#second"
        method="post"
        novalidate
        autocomplete="off"
      >
        <div class="row">
          <div class="col-lg-6">
            <img
              src="{{ url_for('static', filename='assets/img/car.jpg')}}"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <label for="cost_min">Cost:</label>
                  <input required type="number" class="form-control no-border"
                  id="cost_min" placeholder="Min" value={{inp_data["cost_min"]}}
                  name="cost_min"> <input type="number" class="form-control
                  no-border" id="cost_max" placeholder={{inp_data["cost_max"]}}
                  name="cost_max" required>
                </div>
              </div>

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <select
                    class="form-select no-border"
                    aria-label="Default select example"
                    name="brand"
                    id="brand"
                  >
                    <option selected>{{inp_data["brand"]}}</option>
                    <option value="Aston Martin">Aston Martin</option>
                    <option value="Audi">Audi</option>
                    <option value="Bajaj">Bajaj</option>
                    <option value="Bently">Bently</option>
                    <option value="Bmw">BMW</option>
                    <option value="Bugatti">Bugatti</option>
                    <option value="Datsun">Datsun</option>
                    <option value="Dc">Dc</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="Fiat">Fiat</option>
                    <option value="Force">Force</option>
                    <option value="Ford">Ford</option>
                    <option value="Honda">Honda</option>
                    <option value="Hundai">Hundai</option>
                    <option value="Icml">Icml</option>
                    <option value="Isuzu">Isuzu</option>
                    <option value="Jaguar">Jaguar</option>
                    <option value="Jeep">Jeep</option>
                    <option value="Kia">Kia</option>
                    <option value="Lamborghini">Lamborghini</option>
                    <option value="Land">Land Rover</option>
                    <option value="Lexus">Lexus</option>
                    <option value="Mahindra">Mahindra</option>
                    <option value="Maruti">Maruti Suzuki</option>
                    <option value="Maserati">Maserati</option>
                    <option value="Mg">Mg</option>
                    <option value="Mini">Mini</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Porsche">Porsche</option>
                    <option value="Premier">Premier</option>
                    <option value="Renault">Renault</option>
                    <option value="Skoda">Skoda</option>
                    <option value="Tata">Tata</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Volkswagen">Volkswagen</option>
                  </select>
                  <!-- <input required type="text" class="form-control no-border"
                  id="brand" placeholder={{inp_data["brand"]}} name="brand" > -->
                </div>
              </div>

              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <label for="mileage_min">Mileage:</label>
                  <input type="number" class="form-control no-border"
                  id="mileage_min" placeholder={{inp_data["mileage_min"]}}
                  name="mileage_min" required > <input type="number"
                  class="form-control no-border" id="mileage_max"
                  placeholder={{inp_data["mileage_max"]}} name="mileage_max"
                  required >
                </div>
              </div>

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <select
                    class="form-select no-border"
                    aria-label="Default select example"
                    name="type"
                    id="type"
                  >
                    <option selected>{{inp_data["type"]}}</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="CNG">CNG</option>
                  </select>
                </div>
              </div>

              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <select
                    class="form-select no-border"
                    aria-label="Default select example"
                    name="Seating_Cap"
                    id="Seating_Cap"
                  >
                    <option selected>{{inp_data["Seating_Cap"]}}</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="16">16</option>
                  </select>
                </div>
              </div>

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <button
                    name="santabanta"
                    type="submit"
                    class="btn btn-outline-primary"
                    onclick="scrollxyz"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- / row -->
    </div>
    <!-- this will display the data, either default or gathered from the cars function -->
    <!-- Feature Tabs -->
    <div
      class="row feture-tabs"
      data-aos="fade-up"
      id="second"
      style="padding-left: 10%"
    >
      <div class="col-lg-6">
        <h3>{{cars_line}}</h3>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          {% for i in range(0, count) %}
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab{{i}}"
              >{{cars_found.iloc[i]["Model"]}}</a
            >
          </li>
          {% endfor %}
        </ul>
        <!-- End Tabs -->

        <!-- Tab Content -->
        <div class="tab-content" id>
          {% if count>0 %}
          <div class="tab-pane fade show active" id="tab0">
            <table class="table">
              <tr>
                <th scope="row">Brand:</th>
                <td>{{cars_found.iloc[0]['Make']}}</td>
                <th>Price:</th>
                <td>{{cars_found.iloc[0]['Ex-Showroom_Price']}}</td>
              </tr>
              <tr>
                <th scope="row">Mileage:</th>
                <td>{{cars_found.iloc[0]['ARAI_Certified_Mileage_kmpl']}}</td>
                <th>Engine:</th>
                <td>{{cars_found.iloc[0]['Displacement']}}</td>
              </tr>
              <tr>
                <th scope="row">Seating:</th>
                <td>{{cars_found.iloc[0]['Seating_Capacity']}}</td>
                <th>Type:</th>
                <td>{{cars_found.iloc[0]["Fuel_Type"]}}</td>
              </tr>
            </table>
            <p>
              The car recommended to you is
              {{cars_found.iloc[0]["Make"]}}-{{cars_found.iloc[0]["Model"]}}
              with a seating capacity of
              {{cars_found.iloc[0]["Seating_Capacity"]}}.This car is available
              in 10 shades .It has airbags provided with it and also camera is
              placed for parking.The cost price of the car is
              {{cars_found.iloc[0]["Ex-Showroom_Price"]}} with a mileage of
              {{cars_found.iloc[0]["ARAI_Certified_Mileage_kmpl"]}} kmpl.
            </p>
          </div>
          <!-- End Tab 1 Content -->
          {% endif %} {% if count>1 %}
          <div class="tab-pane fade show" id="tab1">
            <table class="table">
              <tr>
                <th scope="row">Brand:</th>
                <td>{{cars_found.iloc[1]["Make"]}}</td>
                <th>Price:</th>
                <td>{{cars_found.iloc[1]["Ex-Showroom_Price"]}}</td>
              </tr>
              <tr>
                <th scope="row">Mileage:</th>
                <td>{{cars_found.iloc[1]["ARAI_Certified_Mileage_kmpl"]}}</td>
                <th>Engine:</th>
                <td>{{cars_found.iloc[1]["Displacement"]}}</td>
              </tr>
              <tr>
                <th scope="row">Seating:</th>
                <td>{{cars_found.iloc[1]["Seating_Capacity"]}}</td>
                <th>Type:</th>
                <td>{{cars_found.iloc[1]["Fuel_Type"]}}</td>
              </tr>
            </table>
            <p>
              The average performance of the car is great and better than most
              of the cars in this range. With its automatic fluid lid opener you
              won't ever need to go outside in scratching summer beat. It body
              type is {{cars_found.iloc[1]["Body_Type"]}} with
              {{cars_found.iloc[1]["Doors"]}} doors. It has four cup holders
              with a charging point for gadgets. It provides warranty of 3
              years. The car is very comforting and has airbags also.
            </p>
          </div>
          {% endif %}
          <!-- End Tab 2 Content -->

          {% if count>2 %}
          <div class="tab-pane fade show" id="tab2">
            <table class="table">
              <tr>
                <th scope="row">Brand:</th>
                <td>{{cars_found.iloc[2]["Make"]}}</td>
                <th>Price:</th>
                <td>{{cars_found.iloc[2]["Ex-Showroom_Price"]}}</td>
              </tr>
              <tr>
                <th scope="row">Mileage:</th>
                <td>{{cars_found.iloc[2]["ARAI_Certified_Mileage_kmpl"]}}</td>
                <th>Engine:</th>
                <td>{{cars_found.iloc[2]["Displacement"]}}</td>
              </tr>
              <tr>
                <th scope="row">Seating:</th>
                <td>{{cars_found.iloc[2]["Seating_Capacity"]}}</td>
                <th>Type:</th>
                <td>{{cars_found.iloc[2]["Fuel_Type"]}}</td>
              </tr>
            </table>
            <p>
              We suggest you a brilliant car with a super elegant look from this
              brand called
              {{cars_found.iloc[2]["Make"]}}-{{cars_found.iloc[2]["Model"]}} .
              It has a seating capacity of
              {{cars_found.iloc[2]["Seating_Capacity"]}} with the
              {{cars_found.iloc[2]["Ex-Showroom_Price"]}} price tag.
            </p>
          </div>
          {% endif %}

          <!-- End Tab 3 Content -->
          {% if count>3 %}
          <div class="tab-pane fade show" id="tab3">
            <table class="table">
              <tr>
                <th scope="row">Brand:</th>
                <td>{{cars_found.iloc[3]["Make"]}}</td>
                <th>Price:</th>
                <td>{{cars_found.iloc[3]["Ex-Showroom_Price"]}}</td>
              </tr>
              <tr>
                <th scope="row">Mileage:</th>
                <td>{{cars_found.iloc[3]["ARAI_Certified_Mileage_kmpl"]}}</td>
                <th>Engine:</th>
                <td>{{cars_found.iloc[3]["Displacement"]}}</td>
              </tr>
              <tr>
                <th scope="row">Seating:</th>
                <td>{{cars_found.iloc[3]["Seating_Capacity"]}}</td>
                <th>Type:</th>
                <td>{{cars_found.iloc[3]["Fuel_Type"]}}</td>
              </tr>
            </table>
            <p>
              The car was produced by {{cars_found.iloc[3]["Make"]}}.It provides
              a mikeage of
              {{cars_found.iloc[3]["ARAI_Certified_Mileage_kmpl"]}}kmpl. The car
              is powered by a {{cars_found.iloc[3]["Fuel_Tank_Capacity"]}}
              {{cars_found.iloc[3]["Fuel_Type"]}} a car with a powerful
              {{cars_found.iloc[3]["Displacement"]}} engineThis will provide the
              largest possible reduction in ratings when used with
              {{cars_found.iloc[3]["Emission"]}}
            </p>
          </div>
          {% endif %}
          <!-- End Tab 4 Content -->
          {% if count>4 %}
          <div class="tab-pane fade show" id="tab4">
            <table class="table">
              <tr>
                <th scope="row">Brand:</th>
                <td>{{cars_found.iloc[4]["Make"]}}</td>
                <th>Price:</th>
                <td>{{cars_found.iloc[4]["Ex-Showroom_Price"]}}</td>
              </tr>
              <tr>
                <th scope="row">Mileage:</th>
                <td>{{cars_found.iloc[4]["ARAI_Certified_Mileage_kmpl"]}}</td>
                <th>Engine:</th>
                <td>{{cars_found.iloc[4]["Displacement"]}}</td>
              </tr>
              <tr>
                <th scope="row">Seating:</th>
                <td>{{cars_found.iloc[4]["Seating_Capacity"]}}</td>
                <th>Type:</th>
                <td>{{cars_found.iloc[4]["Fuel_Type"]}}</td>
              </tr>
            </table>
            <p>
              It has a super smooth gliding glass used in windows. The car body
              is {{cars_found.iloc[4]["Body_Type"]}} and the door is
              {{cars_found.iloc[4]["Doors"]}}.It has a Analog speedometer that
              allows great visibility in all types of weather.It also comes with
              a start button that allows keyless entry. Any problem can be
              easily solved without any problems thanks to the 2 years warranty.
            </p>
          </div>
          {% endif %}
          <!-- End Tab 5 Content -->
        </div>
      </div>
      <div class="col-lg-6">
        <!-- issue: remove background of this photo to load faster -->
        <img
          src="{{ url_for('static', filename='assets/img/Car2.jpg')}}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <!-- End Feature Tabs -->
  </section>
  <!-- End Whats Your Car Section -->
  {% endblock %}
</main>
