{% extends "layout.html" %} {% block body %}

<main id="main">
  <!-- ======= Whats Your Car ======= -->
  <section id="findcar" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header" find>
        <p>Find your car!</p>
        <br />
        <h2>Tell your requirements, we will find the best choice</h2>
      </header>
      <!-- issue: required is not workign -->
      <form
        name="sentMessage"
        action="/#top5cars"
        method="post"
        novalidate
        autocomplete="off"
      >
        <div class="row">
          <div class="col-lg-6">
            <img
              src="{{ url_for('static', filename='assets/img/car.jpg')}}"
              class="img-fluid"
              alt=""
            />
          </div>




          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                 
                  <input type="number" class="form-control no-border"
                  id="cost_min" placeholder="Cost Min"
                  value={{inp_data["cost_min"]}}
                  name="cost_min" required>
                  
                  <input type="number"
                  class="form-control no-border" id="cost_max"
                  placeholder={{inp_data["cost_max"]}} name="cost_max" required
                  >
                </div>
              </div>



              

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <input required type="text" class="form-control no-border"
                  id="brand" placeholder={{inp_data["brand"]}} name="brand" >
                </div>
              </div>

              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <input type="number" class="form-control no-border"
                  id="mileage_min" placeholder={{inp_data["mileage_min"]}}
                  name="mileage_min" required > 
                  
                  <input type="number"
                  class="form-control no-border" id="mileage_max"
                  placeholder={{inp_data["mileage_max"]}} name="mileage_max"
                  required >
                </div>
              </div>

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <select
                    class="form-select no-border"
                    aria-label="Default select example"
                    name="type"
                    id="type"
                  >
                    <option selected>{{inp_data["type"]}}</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="CNG">CNG</option>
                  </select>
                </div>
              </div>

              <div class="col-md-7" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <select
                    class="form-select no-border"
                    aria-label="Default select example"
                    name="Seating_Cap"
                    id="Seating_Cap"
                  >
                    <option selected>{{inp_data["Seating_Cap"]}}</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="16">16</option>
                  </select>
                </div>
              </div>

              <div class="col-md-5" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <button name = "santabanta" type="submit" class="btn btn-outline-primary" onclick="scrollxyz">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- / row -->


      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up" id="top5cars">
        <div class="col-lg-6" >
          <h3>We have selected these top 5 cars for you</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            {% for i in cars_found.index %}
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab{{i+1}}"
                >{{cars_found["Model"][i]}}</a
              >
            </li>
            {% endfor %}
          </ul>
          <!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content" >
            <div class="tab-pane fade show active" id="tab1">
              <table class="table">
                <tr>
                  <th scope="row">Brand:</th>
                  <td>{{cars_found["Make"][0]}}</td>
                  <th>Price:</th>
                  <td>{{cars_found["Ex-Showroom_Price"][0]}}</td>
                </tr>
                <tr>
                  <th scope="row">Mileage:</th>
                  <td>{{cars_found["ARAI_Certified_Mileage_kmpl"][0]}}</td>
                  <th>Engine:</th>
                  <td>{{cars_found["Displacement"][0]}}</td>
                </tr>
                <tr>
                  <th scope="row">Seating:</th>
                  <td>{{cars_found["Seating_Capacity"][0]}}</td>
                  <th>Type:</th>
                  <td>{{cars_found["Fuel_Type"][0]}}</td>
                </tr>
              </table>
            </div>
            <!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">
              <table class="table">
                <tr>
                  <th scope="row">Brand:</th>
                  <td>{{cars_found["Make"][1]}}</td>
                  <th>Price:</th>
                  <td>{{cars_found["Ex-Showroom_Price"][1]}}</td>
                </tr>
                <tr>
                  <th scope="row">Mileage:</th>
                  <td>{{cars_found["ARAI_Certified_Mileage_kmpl"][1]}}</td>
                  <th>Engine:</th>
                  <td>{{cars_found["Displacement"][1]}}</td>
                </tr>
                <tr>
                  <th scope="row">Seating:</th>
                  <td>{{cars_found["Seating_Capacity"][1]}}</td>
                  <th>Type:</th>
                  <td>{{cars_found["Fuel_Type"][1]}}</td>
                </tr>
              </table>
            </div>
            <!-- End Tab 2 Content -->

            <div class="tab-pane fade show" id="tab3">
              <table class="table">
                <tr>
                  <th scope="row">Brand:</th>
                  <td>{{cars_found["Make"][2]}}</td>
                  <th>Price:</th>
                  <td>{{cars_found["Ex-Showroom_Price"][2]}}</td>
                </tr>
                <tr>
                  <th scope="row">Mileage:</th>
                  <td>{{cars_found["ARAI_Certified_Mileage_kmpl"][2]}}</td>
                  <th>Engine:</th>
                  <td>{{cars_found["Displacement"][2]}}</td>
                </tr>
                <tr>
                  <th scope="row">Seating:</th>
                  <td>{{cars_found["Seating_Capacity"][2]}}</td>
                  <th>Type:</th>
                  <td>{{cars_found["Fuel_Type"][2]}}</td>
                </tr>
              </table>
              >
            </div>
            <!-- End Tab 3 Content -->
            <div class="tab-pane fade show" id="tab4">
              <table class="table">
                <tr>
                  <th scope="row">Brand:</th>
                  <td>{{cars_found["Make"][3]}}</td>
                  <th>Price:</th>
                  <td>{{cars_found["Ex-Showroom_Price"][3]}}</td>
                </tr>
                <tr>
                  <th scope="row">Mileage:</th>
                  <td>{{cars_found["ARAI_Certified_Mileage_kmpl"][3]}}</td>
                  <th>Engine:</th>
                  <td>{{cars_found["Displacement"][3]}}</td>
                </tr>
                <tr>
                  <th scope="row">Seating:</th>
                  <td>{{cars_found["Seating_Capacity"][3]}}</td>
                  <th>Type:</th>
                  <td>{{cars_found["Fuel_Type"][3]}}</td>
                </tr>
              </table>
            </div>
            <!-- End Tab 4 Content -->
            <div class="tab-pane fade show" id="tab5">
              <table class="table">
                <tr>
                  <th scope="row">Brand:</th>
                  <td>{{cars_found["Make"][4]}}</td>
                  <th>Price:</th>
                  <td>{{cars_found["Ex-Showroom_Price"][4]}}</td>
                </tr>
                <tr>
                  <th scope="row">Mileage:</th>
                  <td>{{cars_found["ARAI_Certified_Mileage_kmpl"][4]}}</td>
                  <th>Engine:</th>
                  <td>{{cars_found["Displacement"][4]}}</td>
                </tr>
                <tr>
                  <th scope="row">Seating:</th>
                  <td>{{cars_found["Seating_Capacity"][4]}}</td>
                  <th>Type:</th>
                  <td>{{cars_found["Fuel_Type"][4]}}</td>
                </tr>
              </table>
            </div>
            <!-- End Tab 5 Content -->
          </div>
        </div>
        <div class="col-lg-6">
          <!-- issue: remove background of this photo to load faster -->
          <img
            src="{{ url_for('static', filename='assets/img/Car2.jpg')}}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- End Feature Tabs -->
    </div>
  </section>
  <!-- End Whats Your Car Section -->

  {% endblock %}
</main>
